<h1>javascript racer 4 ever</h1>

<form action="/game/new" method="POST">
  <input type="text" name="players[]" placeholder="Player One">
  <input type="text" name="players[]" placeholder="Player Two">
  <input type="submit" value="Play!">
</form>
